/* 헤더바 */
header {
  margin-top: 10px;
  border-bottom: 1px solid #ededef;
  padding-bottom: 10px;
}
/* 인포바 */
.info-bar {
  display: flex;
  justify-content: space-between;
  padding: 0 10px 0 10px;
}

.info-bar__icons img {
  width: 20px;
}

.info-bar__time {
  font-size: 12px;
  font-weight: bold;
}
/* 메뉴바 */
.menu_bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu-bar__location div {
  width: 100px;
  font-size: 20px;
  font-weight: bold;
}

.menu-bar__location div img {
  width: 20px;
}

.menu-bar__icons img {
  width: 20px;
  margin: 0 5px 0 5px;
}
