div {
  width: 200px;
  height: 200px;
  /* 컨텐츠 안 박스 사이의 간격 */
  padding: 30px;
  /* 컨텐츠 밖의 간격 */
  margin: 20px;
  /* 테두리 */
  /*
  1. solid
  2. dashed
  3. double
  */
  border: 10px ridge black;
  background-color: aqua;
}
