@import "reset.css";
@import "header.css";
@import "main.css";
@import "footer.css";

.media-info-msg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}

@media screen and (min-width: 380px) {
  .media-info-msg {
    opacity: 1;
    background-color: salmon;
  }
}
