.AppHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    height: 50px;
    padding: 5px 0 5px 0;
    position: relative;
    border-bottom: 1px solid var(--line-color);
}

.AppHeader__left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 2.8;
    padding-left: 20px;
}

.AppHeader__left img {
    width: 30px;
}

.AppHeader__title {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-grow: 2;
    position: relative;
    font-size: 28px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

.AppHeader__right {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 20px;
}

.AppHeader__right img {
    padding: 2px;
    width: 30px;
}

.AppHeader__right__Subscribe {
    padding: 5px 10px 5px 10px;
    border: 1px solid #3a3a3c;
    border-radius: 20px;
}