@import "header.css";
@import "main.css";
@import "footer.css";
/* @import url("https://cdn.jsdelivr.net/npm/reset-css@5.0.1/reset.min.css"); */

:root {
    --line-color: rgb(58, 58, 60);
    --keyboard-backgourndcolor: rgb(129, 131, 132);
    --keyboard-color: rgb(255, 255, 255);
}

body {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 0px;
}